@font-face {
  font-family: "Evergreen", sans-serif;
  src: url(./fonts/Evergreen.otf) format("opentype");

  font-family: "Lovegood", sans-serif;
  src: url(./fonts/Lovegood-Thin.ttf) format("truetype");

  font-family: "Voga", serif;
  src: url(./fonts/Voga-Medium.otf) format("opentype");
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/dark_blue_bg.png);
  color: #f1f0eb;
}

.wrapper {
  width: 90%;
  margin: 60px auto;
  border: 5px solid #1d1d1d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 250px solid #1d1d1d;
  border-right: 250px solid transparent;
}

svg.logo-text {
  z-index: 20;
  position: absolute;
  top: 40px;
  left: 30px;
}

svg.logo-text text {
  fill: #f1f0eb;
  font-family: "Lovegood", sans-serif;
}

text.large {
  font-size: 60px;
}

text.medium {
  font-size: 42px;
}

text.small {
  font-size: 38px;
}

.search {
  display: flex;
  justify-content: center;
  position: relative;
  right: 50px;
  top: 20px;
}

.search-box {
  background: #f1f0eb;
  border: 4px solid #1d1d1d;
  border-radius: 50px;
  height: 50px;
  padding: 15px 18px;
  position: relative;
  top: 10px;
  transition: background 0.2s linear;
}

.search-box::placeholder {
  color: #1d1d1d;
  text-align: center;
  font-family: "Voga", serif;
  font-size: 24px;
}

.search-box:focus {
  outline: none;
  background-color: #1d1d1d;
  color: #f1f0eb;
  font-family: "Voga", serif;
  font-size: 24px;
  text-align: center;
}

button.submit {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

button.submit:hover {
  filter: invert(100%);
}

.checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
}

.label {
  background: #1d1d1d;
  border: 4px solid #1d1d1d;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
  position: relative;
  top: 40px;
  left: 125px;
  width: 100px;
  z-index: 5;
  color: #f1f0eb;
  font-family: "Voga", serif;
  font-size: 24px;
  transition: all 200ms linear;
}

.fa-circle {
  color: #f1f0eb;
  transform: scale(1.7);
  position: absolute;
  top: 9px;
  right: 10px;
  transition: all 0.2s linear;
}

.checkbox:checked + label {
  background: #f1f0eb;
  color: #1d1d1d;
}

.checkbox:checked + label .fa-circle {
  transform: translateX(-48px) scale(1.7);
  color: #1d1d1d;
}

.geolocation {
  position: relative;
  top: 70px;
  left: 160px;
  transition: all 0.2s linear;
}

.geolocation:hover {
  cursor: pointer;
  filter: invert(100%);
}

.profile-icon {
  position: relative;
  top: 80px;
  left: 160px;
  transition: all 200ms linear;
  cursor: pointer;
}

.profile-icon:hover {
  filter: invert(100%);
}

.hover-text {
  position: absolute;
  width: 300px;
  text-align: center;
  bottom: 250px;
  right: 60px;
  color: #1d1d1d;
  border: 4px solid #1d1d1d;
  background: #f1f0eb;
  padding: 10px 15px;
  border-radius: 50px;
  font-family: "Voga", serif;
  font-size: 24px;
  display: none;
  transition: all 400ms linear;
}

.profile-icon:hover + .hover-text {
  display: inline;
}

.hero {
  margin: 0 auto;
  text-align: center;
  position: relative;
  bottom: 200px;
}

.date-time {
  font-family: "Evergreen", sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
}

.descriptor {
  font-family: "Voga", serif;
  font-size: 150px;
  text-transform: capitalize;
  z-index: 20;
}
.condition-icon {
  z-index: -5;
  position: absolute;
  top: -100px;
}

.forecast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 10px;
}

.current {
  position: relative;
  bottom: 80px;
}

.plus1hr,
.minus1hr {
  position: relative;
  bottom: 60px;
}

.plus2hr,
.minus2hr {
  position: relative;
  bottom: 45px;
}

.currentTemp {
  font-size: 100px;
  font-family: "Voga", serif;
}

.currentTime,
.forecastTimeMinus1,
.forecastTimePlus1,
.forecastTimeMinus2,
.forecastTimePlus2 {
  position: relative;
  right: 10px;
}

.forecastTempMinus1,
.forecastTempPlus1 {
  font-family: "Voga", serif;
  font-size: 75px;
}

.forecastTempMinus2,
.forecastTempPlus2 {
  font-family: "Voga", serif;
  font-size: 55px;
}

.fa-droplet,
.fa-wind {
  font-size: 30px;
}

.subtitle {
  font-family: "Evergreen", sans-serif;
  font-size: 16px;
}

.windspeed {
  position: absolute;
  background: #1d1d1d;
  padding: 10px 10px 10px 150px;
  border-radius: 0px 50px 50px 0px;
  top: 500px;
  left: 0px;
}

.humidity {
  position: absolute;
  background: #1d1d1d;
  padding: 10px 150px 10px 10px;
  border-radius: 50px 0px 0px 50px;
  top: 500px;
  right: 0px;
}
